/* ---------- RESET STYLES ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: #fff;
    /* how to remove gray background? */
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* ---------- GLOBAL STYLES ---------- */
* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body {
    width: 100wv;
    height: 100hv;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 50px;
    border: 2px solid #ff6d38;
    border-radius: 5px;
    max-width: min-content;
    color: #ff6d38;
    white-space: nowrap;
    transition: all 0.5s;
}

.button:hover, .button:focus {
    background-color: #ff6d38;
    color: #fff;
    cursor: pointer;
}

/* ---------- KEYFRAMES ---------- */

@keyframes slide-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(+100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: 0.75;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ---------- HEADER STYLES ---------- */
.header {
    max-width: 1140px;
    padding: 0 20px;
    margin: 25px auto 65px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    letter-spacing: 3px;
}

.header__logo-word-1 {
    color: #888;
}

.header__logo-word-2 {
    color: #999;
}

.header__logo-word-3 {
    color: #aaa;
}

.header__menu-btn {
    color: #aaa;
    transition: all 0.5s;
}

.header__menu-btn:hover, .header__menu-btn:focus {
    color: #555;
    cursor: pointer;
    transform: scale(1.2);
}

/* ---------- CONTACTS STYLES ---------- */

.contacts {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.contacts__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    /* animation: slide-from-left 2s; */
}

.contacts__title {
    margin-bottom: 35px;
}

.contacts__greeting {
    text-transform: uppercase;
}

.contacts__contact {
    margin-bottom: 10px;
    align-self: flex-start;
}

.contacts__list {
    margin-bottom: 50px;
}

.contacts__icon {
    margin-right: 6px;
}

.contacts__img-welcome {
    height: 600px;
    width: 50vw;
    object-fit: cover;
    object-position: 0%;
    justify-self: end;
    border-radius: 400px 0 0 400px;
    margin-left: auto;
    /* animation: slide-from-right 2s; */
}

/* ---------- SERVICES STYLES ---------- */

.services {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services__service {
    background-color: #ff6d38;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 30px;
    width: 23%;
    border-radius: 10px;
    animation: fade-in-zoom-in 0.3s;
    animation-fill-mode: backwards;
}

.services__service:nth-of-type(2) {
    animation-delay: 0.3s;
}

.services__service:nth-of-type(3) {
    animation-delay: 0.6s;
}

.services__service:nth-of-type(4) {
    animation-delay: 0.9s;
}

.services__service-icon {
    font-size: 60px;
}

.services__service-title {
    text-transform: uppercase;
}

.services__service-description {
    text-align: justify;
    height: 100px;
}

.services__service-more {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3px;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s;
}

.services__service-more:hover, .services__service-more:focus {
    color: #bbb;
    border-bottom-color: #bbb;
}