/* ---------- RESET STYLES ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: #fff;
    /* how to remove gray background? */
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
}


/* ---------- GLOBAL STYLES ---------- */
* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body {
    width: 100wv;
    height: 100hv;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 50px;
    border: 2px solid #ff4500;
    border-radius: 5px;
    max-width: min-content;
    color: #ff4500;
    white-space: nowrap;
    transition: all 0.5s;
}

.button:hover, .button:focus {
    background-color: #ff4500;
    color: #fff;
    cursor: pointer;
}

/* ---------- KEYFRAMES ---------- */

@keyframes slide-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(+100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---------- HEADER STYLES ---------- */
.header {
    max-width: 1140px;
    padding: 0 20px;
    margin: 25px auto 65px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    letter-spacing: 3px;
}

.header__logo-word-1 {
    color: #888;
}

.header__logo-word-2 {
    color: #999;
}

.header__logo-word-3 {
    color: #aaa;
}

.header__menu-btn {
    color: #aaa;
    transition: all 0.5s;
}

.header__menu-btn:hover, .header__menu-btn:focus {
    color: #555;
    cursor: pointer;
    transform: scale(1.2);
}

/* ---------- CONTACTS STYLES ---------- */

.contacts {
    display: flex;
    align-items: center;
}

.contacts__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    animation: slide-from-left 2s;
}

.contacts__title {
    margin-bottom: 35px;
}

.contacts__greeting {
    text-transform: uppercase;
}

.contacts__contact {
    margin-bottom: 10px;
    align-self: flex-start;
}

.contacts__list {
    margin-bottom: 50px;
}

.contacts__icon {
    margin-right: 6px;
}

.contacts__img-welcome {
    height: 500px;
    width: 50vw;
    object-fit: cover;
    object-position: 0%;
    justify-self: end;
    border-radius: 400px 0 0 400px;
    margin-left: auto;
    animation: slide-from-right 2s;
}